nav {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 5px solid #d0d0d0 !important;
  box-shadow: 0 1px 0 #bababa !important;
}

.navbar-brand {
  font-size: 19px !important;
}

html {
  height: 100%;
}

body { 
  height: 100%;
  padding-top: 50px;
}

#firelight-photo {
  content: url("../img/firelight.png");
  width: 100%;
  position: fixed;
}

#projects {
  width: 100%;
  position: relative;
  top: 500px;
  height: 500px; /* Demo purposes */
  background-image: url("../img/crossword.png");
  z-index: 10;
}

#contact {
  margin-top: 50px;
  border-top: 5px solid #d0d0d0;
  box-shadow: 0 -1px 0 #bababa;
  width: 100%;
  background: black;
  height: 300px;
}

*/



