nav {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 5px solid #d0d0d0 !important;
  box-shadow: 0 1px 0 #bababa !important;
  background-image: url("../img/txture.png") !important;
  padding-left: 6%;
  padding-right: 6%;
}

.navbar-brand {
  cursor: default;
}

.navbar-inverse .navbar-nav>.active>a {
  background: none !important;
  color: white !important;
}

.links {
  color: #9d9d9d !important;
}

.links:hover {
  color: white !important;
}

#brand-icon-img {
  position: absolute;
  z-index: 4;
  top: 18%;
  left: 15%;
  padding-left: 6%;
}

#brand-icon-background {
  position: relative;
  z-index: 3;
  top: -30px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid #395f60;
  background-color: #5F9EA0;
}

#name {
  position: absolute;
  z-index: 4;
  top: 30%;
  left: 17%;
  color: #5F9EA0 !important;
  font-size: 19px !important;
}

html {
  height: 100%;
}

body { 
  height: 100%;
  padding-top: 50px;
  position: relative;
}

#firelight-photo {
  content: url("../img/firelight.png");
  width: 100%;
  height: 90%;
  position: fixed;
  margin-left: -30px;
}

#projects {
  width: 100%;
  position: relative;
  top: 100%;
  background-image: url("../img/crossword.png");
  z-index: 10;
  padding-top: 4%;
}

#contact {
  margin-top: 50px;
  border-top: 5px solid #d0d0d0;
  box-shadow: 0 -1px 0 #bababa;
  width: 100%;
  background-image: url("../img/txture.png");
}

h3 {
  text-align: center;
  font-family: 'Poiret One', cursive !important;
  text-transform: lowercase;
}

hr {
  margin: 0 6%;
}

#row1, #row2 {
  padding: 0 6%;
}

.project-img {
  width: 100%;
  margin: 3% 0;
  border: 1px solid #b9b9b9;
  padding: 5px;
  background: #d0d0d0;
}

.project-img:hover {
  background: #3d3d3d;
  border: 1px solid black;
}

.project-img-hover {
  background: #3d3d3d;
  border: 1px solid black;
}

#tictactoe:hover {
  content: url("../img/tictactoe.png");
  cursor: pointer;
}

#college:hover {
  content: url("../img/college.png");
  cursor: pointer;
}

#geomancy:hover {
  content: url("../img/geomancy.png");
  cursor: pointer;
}

#ortho-la:hover {
  content: url("../img/ortho-la.png");
  cursor: pointer;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Poiret One', cursive !important;
}

.button {
  text-align: center;
  margin-bottom: 3%;
}

.btn-default {
  background-color: #a9a9a9 !important;
  color: white !important;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  outline: none !important;
}

.btn {
  border: none !important;
}

.btn-default:hover {
  background-color: #5F9EA0 !important;
  outline: none !important;
  border: none !important;
}

#contact-hr {
  border-color: #3d3d3d;
}

#about {
  height: 100%;
  padding-top: 4%;
}

#about-me-info {
  padding: 0 6%;
  font-size: 16px;
}

#linkedin {
  margin-top: 13%;
}

#email {
  margin-top: 12%;
}

#github {
  margin-top: 10%;
  width: 40px;
}

.contact-background {
  background-color: #A9A9A9;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: inline-block;
  border: 5px solid #575757;
}

.contact-background:hover {
  background-color: #5F9EA0;
  border: 5px solid #395f60;
}

.center-buttons {
  text-align: center;
  margin: auto;
}

#copyright {
  text-align: center;
  color: #767676;
}

@media (max-width: 991px) {
  #name {
    display: none;
  }
  #firelight-photo {
    height: 80%;
  }
  #projects {
    top: 80%;
  }
/*  #about {
    max-height: 60vh;
  }*/
} 

@media (max-width: 640px) {
  #firelight-photo {
    height: 60%;
  }
  #projects {
    top: 60%;
  }
/*  #about {
    max-height: 50vh;
  }*/
}

@media (max-width: 400px) {
  #firelight-photo {
    height: 50%;
  }
  #projects {
    top: 50%;
  }
}